// Sizes
$desktop: 1024px;
$tablet: 768px;
$mobile: 480px;

$indent4: 4px;
$indent6: 6px;
$indent10: 10px;
$indent12: 12px;
$indent13: 13px;
$indent14: 14px;
$indent15: 15px;
$indent16: 16px;
$indent18: 18px;
$indent20: 20px;
$indent21: 21px;
$indent24: 24px;
$indent29: 29px;
$indent32: 32px;
$indent43: 43px;
$indent50: 50px;
$indent52: 52px;
$indent60: 60px;
$indent100: 100px;
$indent140: 140px;

$color-red-500: #cb3d40;
$color-red: $color-red-500;

$color-yellow-600: #ffe302;
$color-yellow-500: #f4e041;
$color-yellow: $color-yellow-500;

$color-blue-500: #00bdd3;
$color-blue: $color-blue-500;

$color-gray-600: #7e7e7e;
$color-gray-500: #b4b4b4;
$color-gray-200: #d0cfcf;
$color-gray-100: #f8f8f8;
$color-gray: $color-gray-500;

$color-white: #fff;

// Fonts
$mainFont: 'Nunito', sans-serif;
